
body {
  background-color: #c16363;
  background-image:url(muslim.png);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
}


header {
  margin:auto;
  width: fit-content;
  box-sizing:content-box;
  color: #280a0a;
  padding: 5px;
  font-size: 24px;
}
#foot{
  color: hwb(0 100% 0%);
}
audio{
  background-color: orangered;
}
section {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 50px;
  backdrop-filter:blur(2px);
  font-size: cover;
  background-color: rgba(0, 0, 0, 0.516); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.381);
  margin-top: 5px;
  color:#ffffff;
}

p {
  size: cover;
  height: cover;
  margin-bottom: 15px;
}

footer {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
}
#valentine{
  text-decoration: underline;
  font-size:24px;
}
